Import Libraries

In [17]:
import pandas as pd
import numpy as np
import os

Importing Dataframes

In [18]:
path = r'C:\Users\Timbr\OneDrive\Desktop\Career Foundry\Data Immersion\Achievement 4\Instacart Basket Analysis - Achievement 4 -  Tim Brandt'

In [19]:
df_ords_prods_merged = pd.read_pickle(os.path.join(path, 'Data', 'Prepared Data', 'orders_products_merged.pkl'))

# Step 1 - Creating “price_label” & “busiest_day” columns

In [20]:
df_ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [21]:
# Create subset of first 1M rows
df = df_ords_prods_merged[:1000000]

In [22]:
# Check shape
df.shape

(1000000, 15)

If-Statements with User-Defined Functions

In [23]:
# Defining function

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [24]:
# Applying function

df['price_range'] = df.apply(price_label, axis=1)

C:\Users\Timbr\AppData\Local\Temp\ipykernel_24480\3329516987.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [25]:
# Counting occurrences of unique values (includes missing values, if any)

df['price_range'].value_counts(dropna = False)

price_range
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

In [26]:
# checking max value within the 'prices' column (in subset)

df['prices'].max()

14.8

If-Statements with the loc() Function

Applying loc() function to dataframe

In [40]:
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [41]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [42]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [43]:
df['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

In [52]:
# If-Statements with For-Loops
df_ords_prods_merged['order_dow'].value_counts(dropna = False)

order_dow
0    6209632
1    5665830
6    4500246
2    4217766
5    4209449
3    3844096
4    3787193
Name: count, dtype: int64

In [60]:
# Creating container 
result = []

In [61]:
# Adding elements
for value in df_ords_prods_merged['order_dow']:
  if value == 0:
    result.append('Busiest day')
  elif value == 4:
    result.append('Least busy')
  else:
    result.append('Regularly busy')

In [62]:
df_ords_prods_merged['busiest_day'] = result

In [63]:
df_ords_prods_merged['busiest_day'].value_counts(dropna = False)

busiest_day
Regularly busy    22437387
Busiest day        6209632
Least busy         3787193
Name: count, dtype: int64

# Step 2 - Reconfigure Busiest & Slowest Days columns

In [64]:
# Counting number of orders per day 
df_ords_prods_merged['order_dow'].value_counts(dropna = False)

order_dow
0    6209632
1    5665830
6    4500246
2    4217766
5    4209449
3    3844096
4    3787193
Name: count, dtype: int64

In [66]:
# Creating empty shell
result2 = []

In [67]:
# Adding new labels
for value in df_ords_prods_merged['order_dow']:
  if value == 0 or value ==1:
    result2.append('Busiest days')
  elif value == 4 or value == 3:
    result2.append('Slowest days')
  else:
    result2.append('Regularly days')

In [68]:
# Creating new column 'busiest_days'
df_ords_prods_merged['busiest_days'] = result2

In [70]:
df_ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_day,busiest_days
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Regularly busy,Regularly days
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Slowest days
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Slowest days
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days

# Step 3 - Check accuracy of new column. Note observations

In [72]:
df_ords_prods_merged['order_dow'].value_counts(dropna = False)

order_dow
0    6209632
1    5665830
6    4500246
2    4217766
5    4209449
3    3844096
4    3787193
Name: count, dtype: int64

In [73]:
df_ords_prods_merged['busiest_days'].value_counts(dropna = False)

busiest_days
Regularly days    12927461
Busiest days      11875462
Slowest days       7631289
Name: count, dtype: int64

When adding up the busiest days (0,1), slowest days (3, 4) and the regular days (2, 5, 6); they all tied to the values in the busiest_days colume.  Observation - The 2 busiest days almost add up to the 3 regular days!

# Step 4 - Create new column: “busiest_period_of_day.”

In [78]:
# Check frequency of values in the "order_hour_of_day" column 
df_ords_prods_merged['order_hour_of_day'].value_counts()

order_hour_of_day
10    2764390
11    2738585
14    2691563
15    2664522
13    2663272
12    2620800
16    2537469
9     2456661
17    2089452
8     1719952
18    1637922
19    1259382
20     977017
7      891928
21     796362
22     634737
23     402612
6      290770
0      218942
1      115786
5       88057
2       69431
4       53283
3       51317
Name: count, dtype: int64

In [80]:
# Create a for-loop if statement using the above breakdown

hour_of_day = []

for value in df_ords_prods_merged["order_hour_of_day"]:
  if value in [10, 11, 14, 15, 13, 12, 16, 9]:
    hour_of_day.append("Most Orders")
  elif value in [23, 6, 0, 1, 5, 2, 4, 3]:
    hour_of_day.append("Fewest Orders")
  else:
    hour_of_day.append("Average Orders")

In [82]:
# Add result to dataframe as "busiest_period_of_day" column
df_ords_prods_merged['busiest_period_of_day'] = hour_of_day

In [83]:
df_ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Regularly busy,Regularly days,Average Orders
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Slowest days,Average Orders
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Slowest days,Most Orders
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Average Orders
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Most Orders

# Step 5 - Print the new column frequency

In [84]:
df_ords_prods_merged['busiest_period_of_day'].value_counts()

busiest_period_of_day
Most Orders       21137262
Average Orders    10006752
Fewest Orders      1290198
Name: count, dtype: int64

# Step 6 - Ensure notebook is clean, structured and code is commented

Done

# Step 7 - Export your dataframe as a pickle file

In [86]:
df_ords_prods_merged.to_pickle(os.path.join(path, 'Data','Prepared Data', 'orders_products_merged_V2.pkl'))